UseDNS no
PubkeyAuthentication yes
PermitRootLogin prohibit-password

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/store-information-in-variables#default-environment-variables
AcceptEnv CI
AcceptEnv GITHUB_ACTION
AcceptEnv GITHUB_ACTION_PATH
AcceptEnv GITHUB_ACTION_REPOSITORY
AcceptEnv GITHUB_ACTIONS
AcceptEnv GITHUB_ACTOR
AcceptEnv GITHUB_ACTOR_ID
AcceptEnv GITHUB_API_URL
AcceptEnv GITHUB_BASE_REF
AcceptEnv GITHUB_ENV
AcceptEnv GITHUB_EVENT_NAME
AcceptEnv GITHUB_EVENT_PATH
AcceptEnv GITHUB_GRAPHQL_URL
AcceptEnv GITHUB_HEAD_REF
AcceptEnv GITHUB_JOB
AcceptEnv GITHUB_OUTPUT
AcceptEnv GITHUB_PATH
AcceptEnv GITHUB_REF
AcceptEnv GITHUB_REF_NAME
AcceptEnv GITHUB_REF_PROTECTED
AcceptEnv GITHUB_REF_TYPE
AcceptEnv GITHUB_REPOSITORY
AcceptEnv GITHUB_REPOSITORY_ID
AcceptEnv GITHUB_REPOSITORY_OWNER
AcceptEnv GITHUB_REPOSITORY_OWNER_ID
AcceptEnv GITHUB_RETENTION_DAYS
AcceptEnv GITHUB_RUN_ATTEMPT
AcceptEnv GITHUB_RUN_ID
AcceptEnv GITHUB_RUN_NUMBER
AcceptEnv GITHUB_SERVER_URL
AcceptEnv GITHUB_SHA
AcceptEnv GITHUB_STEP_SUMMARY
AcceptEnv GITHUB_TRIGGERING_ACTOR
AcceptEnv GITHUB_WORKFLOW
AcceptEnv GITHUB_WORKFLOW_REF
AcceptEnv GITHUB_WORKFLOW_SHA
AcceptEnv GITHUB_WORKSPACE
AcceptEnv RUNNER_ARCH
AcceptEnv RUNNER_DEBUG
AcceptEnv RUNNER_ENVIRONMENT
AcceptEnv RUNNER_NAME
AcceptEnv RUNNER_OS
AcceptEnv RUNNER_TEMP
AcceptEnv RUNNER_TOOL_CACHE
